@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main{
    background-image: url(assets/images/bg.jpg);
    height: 80vh;
    background-position: center center;
    position: relative;
    background-repeat: no-repeat;
    background-size: max(1200px , 100vw);

}

.main .box{
    height: 80vh;
    width: 100%;
    position: absolute;
    top:0;
    opacity: 0.6;
    background-color: black;
}

@media screen and (max-width: 650px) {
 
}

nav { 
    max-width: 70vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img{
    width: 115px;
    height: 115px;
    position: relative;
    z-index: 999;
}


.hero{
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 121.4px);
    display: flex;
    padding: 0 15px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    flex-direction: column;
    position: relative;
    z-index: 999;
    text-align:center;
}

.hero > :nth-child(1){
    font-size: 42px;
    font-weight: 900;
}

.hero  > :nth-child(2){
    font-size: 24px;
    font-weight: 600;
}

.hero > :nth-child(3){
    font-size: 18px;
    font-weight: 400;
}

.btn{
    padding: 3px 24px;
    /* width: 100%; */
    border-radius: 4px;
    /* background-color: #ffffff; */
    position: relative;
    z-index: 1;
    font-family: 'Martel Sans', sans-serif;
}

.b-select{
    background-color: rgb(23, 23, 23,0.2);
    color: #ffffff;

}

/* option{
    background-color: rgba(14, 13, 13, 0);
    color: #fff6f6;
} */

.hero-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
}
.hero-buttons input{
    padding: 3px 24px;
    /* width: 100%; */
    font-size: 14px;
    height: 30px;
    width: 222px;
    border-radius: 4px;
    margin-right:20px ;
    border: 2px solid #fff6f6;
    background-color: rgb(23, 23, 23,0.2);
    transition: 0.3s;
}
.hero-buttons input:focus{
    font-size: 10px;
    padding: 0px 24px 3px 24px;
}

::placeholder{
    color: #fff6f6;
    margin: 0;
    padding: 0;
}

.red-btn{
    background-color: #E50914;
    transition: 0.3s ease;
    font-weight: 600;
    border: none;
    height: 30px;
    border-radius: 4px;
    color: #ffffff;
}

.red-btn:hover{
    transform: scale(1.05);
}

 .line{
    height: 5px;
    background-color: #494848;
    opacity: 65%;
}

.first{
    display: flex;
    max-width: 70vw;
    margin: auto;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.m-1{
    margin: 30px auto;
}
.secImg{
    position: relative;
    top: 0;
}

.secImg img{
    position: relative;
    z-index: 10;
}

@media screen and (max-width: 1200px) {
    .first{
        flex-wrap: wrap;
    }
}

.secImg video{
    position:absolute;
    top: 94px;
    right: 78px;
}

.first-box{
    padding: 34px 34px 0px 0px;
    display: flex;
    flex-direction: column;
}
.empahsis{
    font-size: 30px;
    /* font-family: 'Martel Sans', sans-serif; */
    font-weight: bolder;
}


.faq{
    background-color: black;
    color: white;
}

.faq h2{
    text-align: center;
    padding: 40px;
    font-size: 34px;
}

.faqbox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #494848;
    max-width: 70vw;
    margin: 20px auto;
    padding: 15px 30px;
    border-radius: 4px;
    transition: 0.3s ease;
}

.faqbox:hover{
    transform: scale(1.05);
}

.pre-footer{
    color: white;
    text-align: center;
    margin: 40px;
}


footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 60px;
}

footer .questions {
    padding: 34px 0;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}
@media screen and (max-width: 1200px) {
    .footer {
        grid-template-columns: 1fr 1fr;
    } 
}

.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}